:javascript
  function reload(){
    $.ajax({
      url:'./messages',
      type: 'GET'
    });
  };
  $(window).on('load', function(){
    setInterval("reload()", 1000*20);
  });
.chat
  = render partial: 'common/chat-side', locals: {groups: @groups}
  .chat-main
    .chat-header
      .chat-header__left
        %h2 #{@group.name}
        %i.fa_fa-pencil-square-o
        %p.chat-header__users
        member:
        - @users.each do |user|
          = user.name
      .chat-header__right
        .chat-header__right__edit-btn
          =link_to "edit", edit_group_path(@group)
    .chat-body
      %ul.chat-messages
        = render @messages
    .chat-footer
      = form_for [@group, @message] do |f|
        .chat-footer__body
          = f.text_field :body, placeholder: "type a message"
          %label.chat-footer__body__file
            = f.file_field :avatar
            %i.fa.fa-image
        .submit-btn
          = f.submit "SEND"
